
body {
	background-color: #500000;


}
#navbar {
	border: 3px solid black;
	border-radius: 10px;
	background-color: #505050;
	width: 960px;
	margin: 0px auto;
	height: 150px;

}

#blank {


}

li {
	color: white;
	text-align: center;
	list-style: none;
	border: 2px solid black;
	border-radius: 5px;
	width: 110px;
	float: left;
	margin: 7px;
	background-color: #5E1B1B;

}

#next_band {
	height: 300px;
	width: 960px;
	border: 3px solid black;
	border-radius: 10px;
	margin: 25px auto;
	background-color: #5E1B1B;

}

#name {
	xborder: 1px solid white;
	border-radius: 10px;
	float: left;
	width: 450px;
	height: 145px;
	margin: 2px 18px 2px 18px ;

	
}

#venue {
	xborder: 1px solid white;
	border-radius: 10px;
	float: left;
	width: 450px;
	height: 145px;
	margin: 2px 18px 2px 0px;
}

#date {
	xborder: 1px solid white;
	border-radius: 10px;
	float: left;
	width: 450px;
	height: 145px;
	margin: 0px 18px 2px 18px;
}

#MA {
	xborder: 1px solid white;
	border-radius: 10px;
	float: left;
	width: 450px;
	height: 145px;
	margin: 0px 18px 2px 0px;
}

.wordyness {
	font-size: 25px;
	color: white;
	text-align: center;
	
}

.search {
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-align: center;

}

#footer{
	width: 960px;
	height: 150px;
	background-color: black;
	margin: 0px auto;
	border-radius: 10px;
	position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -480px;
}

#feet {
	color: lightgrey;
	text-align: center;
}